@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*{
	margin: 0;
    padding:0;
    font-family: 'Space Mono', monospace;
}
/*body{
	overflow: hidden;
}*/
.wrapper{
	background-color: hsl(185, 41%, 84%);
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10%;
	overflow: hidden;
	
}
img{
	height: 50px;
	width: 75px;
	
}

.calculator-container{
	height: 400px;
	width: 850px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	column-gap: 25px;
	justify-content: center;
	align-items: center;
}
.box{
	position: relative;
	height: 355px;
	width: 390px;
	background-color: hsl(183, 100%, 15%);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
label{
	color: hsl(184, 14%, 56%);
	display: flex;
}
label .err{
	margin-left: auto;
	display: none;
	color: red;
}
.inputs{
    background-color: hsl(0, 0%, 100%);
}
.contain{
	height: 95%;
	width: 95%;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.contain > *{
	height: 70px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.contain > div:nth-child(2){
	height: 150px;
	width: 100%;
	margin-top: 5%;
}
.in{
	color:hsl(183, 100%, 15%);
	text-align: right;
	height: 100%;
	padding-right: 2%;
	padding-left: 11%;
	font-size: 20px;
	border:none;
	border-radius: 5px;
	background-color: hsl(189, 41%, 97%);
}
.inToggle{
	border:2px solid red;
}
.in::placeholder{
	color: hsl(185, 41%, 84%);
}
input:focus{
	outline: none;
	border:2px solid hsl(172, 67%, 45%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tips{
    margin-top: 5%;
	width: 100%;
	height: 100%;
	display: grid;
    padding: 2%;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
    overflow: hidden;
}
.tips > *{
	 color:hsl(0, 0%, 100%) ;
	 border-radius: 10px;
	 height: 100%;
	 width: 100%;
	 background-color: hsl(183, 100%, 15%);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
}
.btn:hover{
	background-color: hsl(185, 41%, 84%);
	color: hsl(183, 100%, 15%);
}
.tips > .toggle{
	 color: hsl(183, 100%, 15%);
	 border-radius: 10px;
	 height: 100%;
	 width: 100%;
	 background-color: hsl(172, 67%, 45%);
     display: flex;
     justify-content: center;
     align-items: center;
}
.tips> input{
	 height: 100%;
	 width: 95%;
	 background-color:hsl(189, 41%, 97%);
	 border: none;
	 color: hsl(183, 100%, 15%);
	 text-align: right;
	 padding-right: 5%;
}

.icon{
	position: absolute;
	height: 15px;
	width: 10px;
	margin-top: 10%;
	margin-left: 5%;
}
.contain div:last-child .icon{
	width: 13px;
}
.result {
	display: flex;
	flex-direction: column;
	row-gap: 35%;
}
.resultcontainer{
	margin-top: 10%;
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20%;
}
.resultcontainer .lbl > label{
	color: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: column;
}
.resultcontainer .lbl > label >p{
    font-size: 10px;
    color: hsl(184, 14%, 56%);
}
.resultcontainer div{
	width: 80%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.resultcontainer > div >.res{
     margin-left: auto;
}
.result button{

	border: hidden;
	border-radius: 5px;
	height: 15%;
	width: 85%;
}
h1{
	color: hsl(172, 67%, 45%);
	font-size: 40px;
}
#reset{
	margin-top: 2%;
	height: 10%;
	font-size: 20px;
}
.resToggle{
    background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
}
.resToggle:hover{
    background-color: hsl(185, 41%, 84%);
	color: hsl(183, 100%, 15%);
}
#tipIn::placeholder{
	text-align: center;
}

